/*index.css*/
/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) {
    .logo {
        padding: 0 2rem;
    }

    .hamburger {
        display: block;
        padding: 0 2rem;
    }

    .menu {
        position: absolute;
        right: 0;
        padding: 0 2rem;
        top: 75px;
        background-color: #35A99C;
        display: none;
        transition: all 0.25s;
    }

    .menu .menu-list {
        flex-direction: column;
    }

    .portfolio, .about, .services, .contact {
        padding: 0 2rem;
    }

    .about {
        flex-direction: column;
    }

    .about .about-text, .about .about-image img {
        padding: 1rem;
        width: 100%;
    }

    .my-row {
        gap: 10px;
    }

    .my-row .my-col {
        text-align: center;
        width: 45%; /* Adjust for 2-column layout */
    }

    .footer-menu {
        padding: 0 2rem;
    }
}

/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) {
    .hero {
        justify-content: center;
        color: #fff;
        background-color: #35A99C;
    }

    .sub-heading {
        color: #fff9f9cc;
    }

    .hero .intro-buttons {
        gap: 20px;
    }

    .btn {
        padding: 10px 30px;
    }

    .logo {
        padding: 0 1.5rem;
    }

    .menu {
        position: absolute;
        right: 0;
        padding: 0 1.5rem;
        top: 75px;
        background-color: #35A99C;
        display: none;
        transition: all 0.25s;
    }

    .menu .menu-list {
        flex-direction: column;
    }

    .hamburger {
        display: block;
        padding: 0 1.5rem;
    }

    .portfolio, .about, .services, .contact {
        padding: 0 1.5rem;
    }

    .about {
        flex-direction: column;
    }

    .about .about-text, .about .about-image img {
        padding: 1rem;
        width: 100%;
    }

    .my-row {
        flex-direction: column;
        margin: 2rem 0;
        gap: 1rem;
    }

    .my-row .my-col {
        width: 100%;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-form-container, .contact-details {
        width: 100%;
    }

    .contact-form .form-controls, .contact-form .form-btn, .footer-menu {
        width: 100%;
    }

    .footer-list-items {
        margin: 0;
    }
}
